<div class="title-background">
  <h1 class="title">Ideabox</h1>
</div>

<div class="new-idea">
  <h3>Add a New Idea</h3>
  <div class="new-idea-container">
  </div>
</div>
<hr>
<br>

<div class="search-form">
</div>
<br>

<h3>Ideas</h3>
<br>
<div class="ideas-container">
</div>
