<div class="title-background">
    <h1 class="title">IDEABOX</h1>
</div>

<div class="new-idea">
  <h3 class="subtitle-add-idea">Add a New Idea</h3>
  <div class="new-idea-container">
  </div>
</div>

<div class="search-form">
</div>
<br>

<br>
<div class="ideas-container">
</div>
