<div class="title-background">
  <h1 class="title">Ideabox</h1>
</div>

<div class="new-idea">
  <h3>Add a New Idea</h3>
  <div class="new-idea-container">
  </div>
</div>

<hr>
<h3>All Ideas</h3>
<div class="ideas-container">
</div>
